:root {
    --color-Menu: rgba(140, 210, 184, 0.94);
    --Gradiante-Menu: linear-gradient(0deg, rgba(255, 255, 255, 0) 10%, var(--color-Menu) 80%);
}

body {
    margin: 0%;
    overflow: visible;
}

header {
    width: 100%;
    height: 10%;
    position: sticky;
    top: 0px;
    padding: 0px;
}

.menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 4vw;
    padding-top: 1vh;
    background-color: var(--color-Menu);
}

.menu>img {
    font-size:3vh;
    max-width: 10%;
    max-height: 11vh;
    height: 5em;
    min-height:3vh;
    height: auto;
    width: auto;
    aspect-ratio:8.5/7;
    position:relative ;
    margin-bottom: -2vh;
}
.menu>h1{
    margin: 0vh;
    font-size: 5vw;
}
.menu>div {
    padding-left: 3vw;
    padding-right: 2vw;
    height: fit-content;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.navbtn {
    min-width: 10%;
    background-color: rgba(255, 255, 255, 0);
    border: 0em solid rgb(255, 255, 255);
    border-radius: 3%;
    font-size: 3vw;
    font-weight: bolder;
}

.navbtn:hover {
    background-color: rgba(0, 0, 0, 0.085);
}

.navbtn:active {
    background-color: rgba(0, 0, 0, 0.331);
    border-radius: 4%;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {

    border: rgb(0, 108, 141) 0.1em solid;
    display: none;
    position: absolute;
    min-width: 16vw;
    z-index: 1;
    border-radius: 5%;
    background-color: #cafff1;
}

.dropdown-content a {

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: block;
    padding: 1vw 1vh;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5%;
}

.dropdown-content a:hover {
    background-color: #006a9f;
    color: white;
    border-radius: 5%;
}
.dropdown-content a:active {
    background-color: #006a9f;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
    border-radius: 5%;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.gradiante {
    display: block;
    width: 100%;
    height: 3vh ;
    background: var(--Gradiante-Menu);
    color: #ffffff00;
}
@media(max-width:1100px) {
    .menu img {
        width: 9vh;
        margin-bottom: 0vh;
    }
    .menu h1{
        font-size: 3vw;
    }
    .menu>div {
        padding: 0vw;
        width: 50%;
    }
}