
.primerApartado {
    background-color: lightgoldenrodyellow;
    border: 0.1vw solid rgb(204, 204, 139);
    border-radius: 6vw 0em 14vw 0vw;
    padding-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 6vw;
    width: 100%;
    margin-bottom: 1em;
}

.primerApartado>img {
    width: 40%;
    max-width: 30vw;
    margin-top: 2vh;
    border-radius: 10vw 3vw;
    box-shadow: 0 0 0 1vw rgb(243, 19, 19);
    border: solid rgb(0, 95, 14) 0.5vw;
    outline: dashed 1vw rgb(0, 95, 14);
    background-color: rgb(0, 95, 14);
}

.descripcion {
    width: 40%;
    font-size: 1.7vw;
    align-content: center;
    text-align: left;
    margin: 1vh;
}

.piePrimerApartado {

    min-width: 20em;
    text-align: right;
    font-size: 1.3vw;
    margin-top: 1.7vh;
}

.segundoApartado {
    display: flex;
    justify-content: space-between;
    text-align: left;
    row-gap: 7vw;
    padding: 3vw;
    padding-right: 2em;
    background-color: lightgoldenrodyellow;
    border: 0.1vw solid rgb(204, 204, 139);
    border-radius: 0em 14vw 0em 10vw;
    margin-bottom: 4vh;
}
.segundoApartado>p{
    margin-left: 2vw;
    font-size: 1.7vw;
    align-content: center;
    
}
.segundoApartado>img {
    box-shadow:  0em 0em 0.3em black;
    border: solid 0.1em rgba(126, 126, 126, 0.409);
    max-width: 30vw;
    height: auto;
    border-radius: 50%;
}
@media(max-width:800px) {
    .primerApartado,.segundoApartado {
        row-gap: 1vh;
        column-gap: 50VW;
        flex-wrap: wrap;
    }
    .primerApartado p {width: 90%;
    margin-top: 6vh;}
    .piePrimerApartado{
        text-align: center;
    }
    .segundoApartado img{
        margin:auto
    }
}