
h1 {
    margin: auto;
    margin-bottom: 1em;
}


.main {
    background-color: lightgoldenrodyellow;
    padding-top: 1em;
    padding-bottom: 5vw;
}

.florRecomendada {

    border-radius: 1em 2em 3em 4em;
    border: solid 0.3vh goldenrod;
    display: flex;
    column-gap: 4vw;
    margin-bottom: 5vh;
}

.florRecomendada img {
    border-radius: 50%;
    border: solid 0.3vw goldenrod;

    aspect-ratio: 1/1;
}
.florRecomendada p {
    text-align: justify;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.619);
    border-radius: 0.5em;
    padding: 0.2em;
    border: solid 0.2vw rgba(135, 135, 135, 0.105);
}
.razones{
    margin-top: 7vh;
}
video{display: none;}
@media(min-width: 1550px) {
    .florRecomendada p {
        max-width: 50%;
    }

    .florRecomendada img {
        margin: auto;
        width: 60%;
    }

}
@media(max-width: 1549px) {
    .florRecomendada {
        flex-wrap: wrap;
        column-gap: 1vw;

        justify-content: space-evenly;
    }

    .florRecomendada p {
        max-width: 90%;
    }

    .florRecomendada img {
        margin: 1vw;

        width: 100%;
    }
}

@media(min-width: 1100px) {
    .ramos a {
        flex-basis: 33%;

    }

    .ramos h3 {
        font-size: 3vw;
    }

    .ramos p {
        font-size: 1vw;
    }

}

@media(max-width:1099px) {
    .ramos a {
        flex-basis: 60%
    }

    .ramos h3 {
        font-size: 5vw;
    }

    .ramos p {
        font-size: 2vw;
    }
}


